<%- include('partials/header'); -%>
<header>

 <!-- Search area to be displayed on medium & small screens -->
  <form class="d-lg-none d-flex m-2">
    <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <!-- item Cards -->
    <div class="container-xxl">
        <div class="row">
          <% if (items && items.length > 0) { %>
            <% items.forEach(item => { %>
                <div class="card m-2 p-2" style="width: 18rem;">
                  <p class="card-text"><%= item.item_name %></p>
                  <img src="<%= item.photo %>" title="<%=item.item_name%>" class="card-img-top" alt="<%= item.item_name %>" height="100%" style="object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text"><%= item.description%></p>
                    <p class="card-text">Price: <%= item.price%></p>
                    <p class="card-text">Category: <%= item.category%></p>
                  </div>
                  <a class="cart btn btn-success btn-sm m-1" data-item_id="<%= item._id %>">Add to cart</a>
                  <a class="btn btn-secondary btn-sm m-1" data-item_id="<%= item._id %>">Contact seller</a>
                </div>
          <% })} %>
        </div>
      </div>
      
</header>

<script>
const addCartButtons = document.querySelectorAll('.cart');
let addCart = 0

addCartButtons.forEach(button => {
  button.addEventListener('click', (e) => {
    addCart += 1;
    console.log(addCart)
  });
});

</script>