<%- include('partials/header'); -%>

  <title>Puddle | Dashboard</title>

  <!-- 
  - This will display the user's dashboard.
  - The user's profile which appears as an off canvas when the profile button is clicked.
  - The dashboard contains a graphical representation and description of the items available for sale.
 -->

  <header>

    <!-- Search area to be displayed on medium & small screens -->
    <form class="d-lg-none d-flex m-2">
      <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>

    <div class="container-xxl d-flex ">
      <div class="row p-0 justify-content-center d-flex col">
        <% if (items && items.length> 0) { %>
          <% items.forEach(item=> { %>
            <div class="card item-card m-2 p-2" style="width: 18rem;">
              <p class="card-text"> <strong>
                  <%= item.item_name %>
                </strong></p>
              <img src="<%= item.photo %>" title="<%=item.item_name%>" class="card-img-top border"
                alt="<%= item.item_name %>" height="100%" style="object-fit: cover;">
              <div class="card-body">
                <p class="card-text"><strong>Price:</strong> <span id="price">
                    <%= item.price %>
                  </span></p>
                <p class="card-text text-success">in stock</p>
                <% if (user) { %>
                  <a class="cart addcartbtn btn btn-success btn-sm" id="addcartbtn" name="<%= item.item_name %>"
                    price="<%= item.price %>">Add to cart</a>
                  <% } %>
                    <% if (admin) { %>
                      <a class="cart btn btn-success btn-sm"
                        href="/cart?adminid=<%= admin._id %>&itemid=<%= item.id %>&name=<%= item.item_name %>">Add to
                        cart</a>
                      <% } %>
                        <a href="/item/search?id=<%= item._id %>&name=<%= item.item_name %>"
                          class="btn btn-success btn-sm">View
                          item</a>
              </div>
            </div>
            <% })} else { %>
              <h1 class="text-white text-center display-4 lead"> No Items Available</h1>
              <% } %>
      </div>
    </div>
  </header>

  <script>
const items = document.querySelectorAll('.addcartbtn');
const displayCost = document.querySelector('.totalcost');
const displayItem = document.querySelector('.displayitem');
const usser = document.querySelector('.usser');
const userId = usser.getAttribute('userid');
const checkout = document.querySelector('.checkout');
let badge = 0;
let update = document.querySelector('.update');
let totalCost = 0;
let currentCost = 0;

update.textContent = '0';
displayCost.textContent = 'Total Cost: 00';

function cartTotal(itemPrice) {
  currentCost += itemPrice;
  totalCost = currentCost;
  return totalCost;
}

// Declare arrays to store item names and prices
const itemNamesArray = [];
const priceArray = [];

items.forEach(item => {
  item.addEventListener('click', (e) => {
    badge += 1;
    update.textContent = badge;

    let itemPrice = parseFloat(item.getAttribute('price'));
    let itemName = item.getAttribute('name');
    totalCost = cartTotal(itemPrice);

    displayItem.innerHTML += `- ${itemName} @ ${itemPrice} <a class="text-danger border-0">Remove </a><br>`;

    itemNamesArray.push(itemName);
    priceArray.push(itemPrice);

    displayCost.textContent = "Total Cost: " + totalCost;

    logInformation();
  });
});

function logInformation() {
  checkout.addEventListener('click', (e) => {
    e.preventDefault();
    let itemNames = itemNamesArray.join(',');
    let itemTotal = totalCost;
    let itemUserId = userId;

    console.log("Starting fetch")
    fetch('/cart', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        products: itemNames,
        cartValue: itemTotal,
        user: itemUserId,
      })
    })
    .then(
      location.assign('/checkout')
  )
    .then(data => {
        console.log(data);
      })
    .catch(err => {
        console.log(err);
      });
  })
  
}
// You can also log the total cost outside the click events if needed
totalCost = priceArray.reduce((accumulator, currentValue) => accumulator + currentValue, 0);




  </script>

  <%- include('partials/footer'); -%>