<%- include('partials/header'); -%>
<header>
    <div class="admin_card">
        <% if (items && items.length > 0) { %>
            <% items.forEach(item => { %>
                <div class="admin_content"><hr>
                        <h1><%= item.item_name %></h1>
                        <img src="../<%= item.photo %>" alt="item photo">
                        <h3><strong>Description:</strong><br> <%= item.description %></h3><br>
                        <h3><strong>Category</strong><br> <%= item.category %></h3><br>
                        <h2>Price: <%= item.price %> ksh</h2>
                        <div class="del_div">
                            <a href="#" class="add-to-cart" onclick="cart(this)">Add to cart</a>
                        </div> 
                </div>
            <% })} %>
        </div>
</header>

<script>
    function cart(element) {
  console.log("Clicked");
  element.textContent = "Added!!";
}
</script>