<%- include('partials/header'); -%>
<header>

  <!-- Search area to be displayed on medium & small screens -->
  <form class="d-lg-none d-flex m-2">
    <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success"><i class="bi bi-search"></i></button>
  </form>

  <!-- Filter Elements -->
  <div class="container bg-light border" style="overflow-x: scroll; white-space: nowrap;">
    <div class="row">
      <div class="filter-btns d-flex">
        <button class="btn btn-outline-success m-2">Shoes</button>
        <button class="btn btn-outline-success m-2">Clothes</button>
        <button class="btn btn-outline-success m-2">Food</button>
        <button class="btn btn-outline-success m-2">Groceries</button>
        <button class="btn btn-outline-success m-2">Electronics</button>
        <button class="btn btn-outline-success m-2">Home and living</button>
        <button class="btn btn-outline-success m-2">Health and beauty</button>
        <button class="btn btn-outline-success m-2">Books and media</button>
        <button class="btn btn-outline-success m-2">Computers and accessories</button>
        <button class="btn btn-outline-success m-2">Toys and games</button>
        <button class="btn btn-outline-success m-2">Sports and outdoors</button>
        <button class="btn btn-outline-success m-2">Office and school supplies</button>
      </div>
    </div>
  </div>

  <!-- item Cards -->
  <div class="container-xxl d-flex ">
    <div class="row p-0 d-flex col-9">
      <% if (items && items.length > 0) { %>
      <% items.forEach(item => { %>
      <form class="card m-2 p-2" style="width: 18rem;">
        <p class="card-text"><%= item.item_name %></p>
        <img src="<%= item.photo %>" title="<%=item.item_name%>" class="card-img-top" alt="<%= item.item_name %>" height="100%" style="object-fit: cover;">
        <div class="card-body">
          <p class="card-text"><%= item.description%></p>
          <p class="card-text">Price: <span id="price"><%= item.price %></span></p>
          <p class="card-text">Category: <%= item.category%></p>
          <a class="cart btn btn-success btn-sm" onclick="get_price(<%= item.price %>), get_name('<%= item.item_name%>', <%= item.price %>)" data-item_id="<%= item._id %>">Add to cart</a>
          <a href="/item/search?id=<%= item._id %>&name=<%= item.item_name %>" class="btn btn-success btn-sm">View item</a>
        </div>
      </form>
      <% })} %>
    </div>
    <div class="container-lg">
      <div class="card m-2  col-1 position-fixed" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Your Cart<span id="cart-badge" class="badge ms-2 text-bg-secondary">0</span></h5>
          <hr>
          <div>
            <h3>Items</h3>
            <div id="cart-details"></div>
          </div>
          <hr>
          <div id="total-cost" style="font-size: 25px; font-weight: 500;"></div>
          <a href="checkout" class="btn btn-warning m-2 rounded">Place Your order</a>
        </div>
      </div>
    </div>
  </div>

</header>

<%- include('partials/footer'); -%>
<script src="../public/cartFront.js"></script>