<%- include('partials/header'); -%>
<header>

 <!-- Search area to be displayed on medium & small screens -->
  <form class="d-lg-none d-flex m-2">
    <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <!-- item Cards -->
  <div class="container-fluid d-flex ">
        <div class="row p-0 d-flex col-9">
          <% if (items && items.length > 0) { %>
            <% items.forEach(item => { %>
                <form class="card m-2 p-2" style="width: 18rem;">
                  <p class="card-text"><%= item.item_name %></p>
                  <img src="<%= item.photo %>" title="<%=item.item_name%>" class="card-img-top" alt="<%= item.item_name %>" height="100%" style="object-fit: cover;">
                  <div class="card-body">
                    <p class="card-text"><%= item.description%></p>
                    <p class="card-text">Price: <span id="price"><%= item.price %></span></p>
                    <p class="card-text">Category: <%= item.category%></p>
                    <label for="quantity">Quantity:</label>
                    <input class="w-25" min="1" max="100" name="quantity" type="number" value="1">
                  </div>
                  <a class="cart btn btn-success btn-sm m-1" data-price="<%= item.price %>" data-item_id="<%= item._id %>">Add to cart</a>
                </form>
          <% })} %>
        </div>

        <div class="container-lg">
          <div class="card m-2  col-1 position-fixed" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Your Cart<span class="cart-badge badge ms-2 text-bg-secondary">0</span></h5><hr>
              <div>
                <h3>Items</h3>
              </div><hr>
                <div class="card-title d-flex">Total Cost: <pre> </pre><div class="total-cost">ksh 0</div></div><hr>
                <a class="btn btn-warning rounded-0">Checkout</a>
            </div>
          </div>
        </div>
  </div>
      
</header>

<script src="../public/cartFront.js"></script>