<%- include('partials/header'); -%>

  <title>Puddle | Dashboard</title>

  <!-- 
  - This will display the user's dashboard.
  - The user's profile which appears as an off canvas when the profile button is clicked.
  - The dashboard contains a graphical representation and description of the items available for sale.
 -->

  <header>

    <!-- Search area to be displayed on medium & small screens -->
    <form class="d-lg-none d-flex m-2">
      <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success"><i class="bi bi-search"></i></button>
    </form>

    <div class="container-xxl d-flex ">
      <div class="row p-0 justify-content-center d-flex col">
        <% if (items && items.length> 0) { %>
          <% items.forEach(item=> { %>
            <div class="card item-card m-2 p-2" style="width: 18rem;">
              <p class="card-text"> <strong>
                  <%= item.item_name %>
                </strong></p>
              <img src="<%= item.photo %>" title="<%=item.item_name%>" class="card-img-top border"
                alt="<%= item.item_name %>" height="100%" style="object-fit: cover;">
              <div class="card-body">
                <p class="card-text"><strong>Price: <span id="price">
                    <%= item.price %>
                  </span>KSH</strong></p>
                <p class="card-text text-success">in stock</p>
                <% if (user) { %>
                  <a class="cart addcartbtn btn btn-success btn-sm" id="addcartbtn" name="<%= item.item_name %>"
                    price="<%= item.price %>" src="<%= item.photo %>">Add to cart</a>
                  <% } %>
                    <% if (admin) { %>
                      <a class="cart btn btn-success btn-sm"
                        href="/cart?adminid=<%= admin._id %>&itemid=<%= item.id %>&name=<%= item.item_name %>">Add to
                        cart</a>
                      <% } %>
                        <a href="/item/search?id=<%= item._id %>&name=<%= item.item_name %>"
                          class="btn btn-success btn-sm">View
                          item</a>
              </div>
            </div>
            <% })} else { %>
              <h1 class="text-white text-center display-4 lead"> No Items Available</h1>
              <% } %>
      </div>
    </div>
  </header>

  <script src="../public/cartFront.js"></script>

  <%- include('partials/footer'); -%>