<%- include('partials/header'); -%>

<title>Puddle | Dashboard</title>

<!-- 
  - This will display the user's dashboard.
  - The user's profile which appears as an off canvas when the profile button is clicked.
  - The dashboard contains a graphical representation and description of the items available for sale.
 -->

<header>

  <!-- Search area to be displayed on medium & small screens -->
  <form class="d-lg-none d-flex m-2">
    <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success"><i class="bi bi-search"></i></button>
  </form>

  <div class="container-xxl d-flex ">
    <div class="row p-0 justify-content-center d-flex col">
      <% if (items && items.length> 0) { %>
        <% items.forEach(item=> { %>
          <div class="card item-card m-2 p-2" style="width: 18rem;">
            <p class="card-text"> <strong>
                <%= item.item_name %>
              </strong></p>
            <img src="<%= item.photo %>" title="<%=item.item_name%>" class="card-img-top" alt="<%= item.item_name %>"
              height="100%" style="object-fit: cover;">
            <div class="card-body">
              <p class="card-text"><strong>Price:</strong> <span id="price">
                  <%= item.price %>
                </span></p>
              <p class="card-text text-success">in stock</p>
              <a class="cart btn btn-success btn-sm" onclick="get_price(<%= item.price %>), get_name('<%= item.item_name%>', <%= item.price %>)" data-item_id="<%= item._id %>">Add to cart</a>
              <a href="/item/search?id=<%= item._id %>&name=<%= item.item_name %>" class="btn btn-success btn-sm">View
                item</a>
            </div>
          </div>
          <% })} %>
    </div>
  </div>
</header>

<%- include('partials/footer'); -%>
